<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-qrcode-reader@2.0.3/dist/vue-qrcode-reader.browser.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-qrcode-reader@2.0.3/dist/vue-qrcode-reader.css">    
    <meta charset="UTF-8">
  <title>Знания в 3D</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="u">
    <div class="top">
    <a href="index1.html"><img src="img/logo.png"></a>
    <p>Знания в 3D</p>
  </div>
<div id="app">
  <p class="tttt">
  <b>{{ decodedContent }}</b><button class="y" onclick="clk();">Перейти</button>
  </p>
  <p class="error">
    {{ errorMessage }}
  </p>
  <qrcode-stream @decode="onDecode" @init="onInit"></qrcode-stream>
</div>
</body>
<script>
new Vue({
  el: '#app',
  data() {
    return {
      decodedContent: '',
      errorMessage: ''
    }
  },

  methods: {
    onDecode(content) {
      this.decodedContent = content
    },

    onInit(promise) {
      promise.then(() => {
          console.log('Successfully initilized! Ready for scanning now!')
        })
        .catch(error => {
          if (error.name === 'NotAllowedError') {
            this.errorMessage = 'Hey! I need access to your camera'
          } else if (error.name === 'NotFoundError') {
            this.errorMessage = 'Do you even have a camera on your device?'
          } else if (error.name === 'NotSupportedError') {
            this.errorMessage = 'Seems like this page is served in non-secure context (HTTPS, localhost or file://)'
          } else if (error.name === 'NotReadableError') {
            this.errorMessage = 'Couldn\'t access your camera. Is it already in use?'
          } else if (error.name === 'OverconstrainedError') {
            this.errorMessage = 'Constraints don\'t match any installed camera. Did you asked for the front camera although there is none?'
          } else {
            this.errorMessage = 'UNKNOWN ERROR: ' + error.message
          }
        })
    }
  }
})
</script>
<link href="vue-qrcode-reader.css" rel="stylesheet">
<script src="vue-qrcode-reader.browser.js"></script>
<script src="node_modules/qrious/dist/qrious.js"></script>
<script>
  function clk() {
    var test = document.getElementsByTagName("b")['0'].textContent;
    document.location.href = test;
  }
</script>
<br>
<div class="bottom">
    <a href="index1.html"><i class="fas fa-arrow-left"></i>Назад</a>
    <a href="favorute.html">Избранное<i class="fas fa-heart"></i></a>
  </div>
</body>
</html>