* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #d0f0f4;
}

.index1, .index4 {
	height: 100vh;
	overflow: hidden;
}
#MyViewerDiv {
	position: relative;
	height: 50vh;
}

.top {
	display: flex;
	align-items: center;
	padding: 5%;
	justify-content: center;
	box-sizing: border-box;
}

.top img {
	width: 100%;
}

.top a {
	width: 18%;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.top p {
	font-size: 50px;
	font-weight: 900;
	color: #09454b;
	margin: 0;
	padding: 0;
}

.middle {
	padding: 5%;
}

.middle .name_items {
	padding: 2% 5%;
	border-radius: 25px;
	border: 2px solid #41a1aa;
	background: white;
	text-align: center;
	width: 80%;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 900;
	color: #0d6770;
	margin-left: 10%;
	box-sizing: border-box;
}

.middle li {
	list-style-type: none;
	padding: 2% 5%;
	border-radius: 20px;
	border: 2px solid #41a1aa;
	background: white;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 100;
	user-select: none;
	cursor: pointer;
}

.middle a {
	text-decoration: none;
	color: black;
}

.middle li:hover {
	background: #41a1aa;
	color: white;
}

.bottom {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.bottom a {
	color: #0d6770;
	font-weight: 900;
	text-decoration: none;
	font-size: 20px;
}

.middle2 input {
	padding: 2% 5%;
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border-radius: 30px;
	border: 2px solid #41a1aa;
	color: black;
	font-size: 15px;
	margin-bottom: 15px;
}

.middle2 p {
	margin-left: 5%;
	color: #09454b;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 0.1em;
}

.middle2 .fa-qrcode {
	margin-left: -8vw;
	color: #09454b;
	font-size: 20px;
}

.middle2 ul {
	background: white;
	border-radius: 20px;
	padding: 4%;
	margin-bottom: 25px;
}

.middle2 li {
	list-style-type: none;
	color: #09454b;
	margin-bottom: 5px;
}

.middle2 a {
	color: #09454b;
	text-decoration: none;
	font-size: 20px;
}

.middle3 {
	height: 50vh;
	overflow-y: scroll;
}

small {
	font-style: italic;
}

::-webkit-scrollbar{
    width: 1.5%;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 10px 2px;
    border-color: #09454B;
    background-color: #09454B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 10px 2px;
    border-color: #09454B;
    background-color: #09454B;
}

::-webkit-scrollbar-track{
    border-width:0;
}

.fa-heart {
	margin-left: 5px;
}

.r1 {
	justify-content: flex-end;
}


.fa-heart {
	margin-left: 5px;
}

.r1 {
	justify-content: flex-end;
}

.middle4_name {
	display: flex;
	color: #09454B;
	align-items: center;
	justify-content: space-between;
	padding: 1% 3%;
	box-sizing: border-box;
}

.middle4_name p {
	font-size: 30px;
	font-weight: 900;
	line-height: 0.8;
}

.middle4_name p small {
	font-size: 15px;
	font-weight: 100;
}

.middle4_name i {
	font-size: 40px;
}

.middle4_text {
	background: white;
	width: 100%;
	border-radius: 20px;
	padding: 3%;
	box-sizing: border-box;
	margin: 5% 0;
	color: #09454B;
	font-size: 20px;
}

.middle4_text ul li {
	list-style-type: none;
}

.middle4_text ul li a {
	color: #09454B;
	text-decoration: none;
}

.fa-qrcode {
	margin-right: 10px;
}

.qqq {
	font-size: 25px;
}

.middle5 h2 {
	text-align: center;
	color: #0D6770;
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 35px;
	letter-spacing: 5px;
}

.middle5_item {
	background: white;
	padding: 5%;
	border-radius: 20px;
	margin-bottom: 20px;
}

.middle5_item li  {
	list-style-type: none;
	color: #0D6770;
	font-size: 25px;
	margin-bottom: 5px;
}

.middle5_item a  {
	list-style-type: none;
	color: #0D6770;
	font-size: 25px;
	text-decoration: none;
}

.middle5_item .fa-heart  {
	list-style-type: none;
	color: #0D6770;
	font-size: 25px;
	text-decoration: none;
}

.middle5_item div {
	display: flex;
	justify-content: space-between;
}

.middle10 {
	background: white;
	border-radius: 20px;
	padding: 5%;
	box-sizing: border-box;
	margin-top: 15%;
}

.middle10 h1 {
	text-align: center;
	color: #0D6770;
}

.middle10 input {
	border: 2px solid #0D6770;
	padding: 2%;
	color: #0D6770;
	width: 90%;
	border-radius: 10px; 
	display: block;
	margin-left: 5%;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

.middle10 a {
	border: 2px solid #0D6770;
	padding: 2%;
	color: white;
	width: 90%;
	border-radius: 10px; 
	display: block;
	margin-left: 5%;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	background: #0D6770;
	text-align: center;
	font-size: 20px;
}

.middle10 a:hover {
	border: 2px solid #0D6770;
	padding: 2%;
	color: #0D6770;
	background: white;
}

.middle4_text a {
	color: #0D6770;
	text-decoration: none;
}

.tttt {
	font-size: 25px;
	font-weight: 900;
}

.y {
	border: 2px solid #0D6770;
	padding: 2%;
	color: white;
	width: 90%;
	border-radius: 10px; 
	display: block;
	margin-left: 5%;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	background: #0D6770;
	text-align: center;
	font-size: 20px;
}

.x .fa-qrcode {
	margin-left: 10px;
}

#qrious {
	margin-left: 25vw;
	position: relative;
}

.tttt {
	font-size: 10px;
}

.u {
	overflow: hidden !important;
	width: 100vw;
}




